@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@400;700&display=swap");

html,
body {
    width: 400px;
    height: 475px;
    text-align: center;
}

hr {
    width: 85%;
    margin: 10px auto;
    border-top: 3px solid rgba(85, 85, 85, 0.384);
}

#ctab {
    text-decoration: underline;
}

#cnamep {
    color: #000;
}

.logo-header {
    margin-top: 10px;
    width: 200px;
}

.header {
    margin: 0 auto;
    width: 200px;
}

.btn-primary {
    display: block !important;
    color: white;
    background-color: #0070f3;
    box-shadow: 5px 5px 12px rgb(0, 112, 243, 0.6) !important;
    padding: 20px 20px;
    margin: 25px auto;
    border-radius: 10px;
    width: 70%;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 20px;
}
